<h1>Welcome to Salon For Now</h1>

<% if @stylists.any?() %>
  <ul>
    <% @stylists.each() do |stylist| %>
      <li><a href="/stylists/<%= stylist.id() %>"><%= stylist.name() %></a></li>
    <% end %>
  </ul>
  <% else %>
  <p>You really need to add some style  ...ists!</p>
<% end %>

<form action="/add_stylists" method="post">
  <label for="sytlist_name">Add a new stylist:</label>
  <input name="stylist_name" type="text">
  <button type="submit">Add</button>
</form>

</br>
<img src="snuffy.jpg" alt="Snuffleupagus">
<p>We at Salon For Now can handle the hairiest beasts you can possibly imagine.</p>
